*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: var(--white);
    height: 100vh;
    background-color: var(--bg-color-general);
    font-family: 'Roboto', sans-serif;
}


//!delete
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    filter: grayscale(1)
}

//* FORMATING TAGS
h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

h1{
    font-size: 3rem;
}

a{
    text-decoration: none;
    color: var(--white);
}