@use 'mixins';

header{
    background-color: var(--bg-color);
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cont-profile-header{
        display: flex;
        gap: 1.5rem;
        .profile-text-header{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .profile-text-header p{
            font-size: 1.5rem;
            font-weight: 200;
            &::first-line{
                font-weight: 800;
                font-size: 1.8rem;
            }
        }
    }
    .navbar-header{
        position: relative;
        ul{
            padding: 1rem 0;
            display: flex;
            li{
                font-size: 1.4rem;            
                a{
                    padding: 1.2rem 2rem;
                    display: block;
                    &:hover{
                        background-color: var(--secondary-color);
                    }
                }
            }
        }
    }
    
}