header{
    background-color: var(--bg-color);
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cont-profile-header{
        display: flex;
        gap: 1.5rem;
        .profile-text-header{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .profile-text-header p{
            font-size: 1.5rem;
        }
    }
    .navbar-header{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 3rem;
        ul{
            display: flex;
            gap: .5rem;
            font-size: 1.3rem;
            li{                
                list-style: none;
                &:hover{
                    color: red;
                    transition: .8s;
                }
                a{
                    padding: 2.2rem 3rem;
                }
                a:hover{
                    background-color: var(--bg-black-one);
                    color: var(--secondary-color);
                    transition: .3s;
                }
            }
        }
    }
}