//****************MEDIA QUERIES*/

@mixin mq350 {
    @media (max-width : 350px) {
        @content;
    }
}
@mixin mq500 {
    @media (max-width : 700px) {
        @content;
    }
}

@mixin mq820 {
    @media (max-width : 820px) {
        @content;
    }    
}
@mixin mq1024 {
    @media (max-width : 1024px) {
        @content;
    }    
}
@mixin mq1200 {
    @media (max-width : 1200px) {
        @content;
    }    
}

@mixin mq1400 {
    @media (max-width : 1400px) {
        @content;
    }
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
