//****************MEDIA QUERIES*/

@mixin mq350 {
    @media (max-width : 350px) {
        @content;
    }
}
@mixin mq500 {
    @media (max-width : 500px) {
        @content;
    }
}
@mixin mq900 {
    @media (max-width : 900px) {
        @content;
    }
}
@mixin mq1200 {
    @media (max-width : 1200px) {
        @content;
    }
}
@mixin mq1400 {
    @media (max-width : 1400px) {
        @content;
    }
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
