@use 'mixins';

.mobile{
    position: relative;
    display: none;
    @include mixins.mq500{
        display: block;
        opacity: 1;

    }
    #icon-menu-mobile{
        cursor: pointer;
        position: fixed;
        z-index: 50;
        right: 0;
        top: 0;
        background-color: var(--bg-black-three-color);
        i{
            padding: 1rem;
            font-size: 3rem;

        }
    }
    position: relative;
    .menu-mobile{
        display: none;
        z-index: 100;
        position: fixed;
        background-color: rgb(20, 20, 20);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        padding: 3rem;
        .box-btn-close-menu{
            display: flex;
            justify-content: flex-end;
            padding-bottom: 5rem;
            i{
                padding: 2rem;
                position: absolute;
                right: .5rem;
                top: 0;
                font-size: 2rem;
                cursor: pointer;
            }
        }
        .nav-mobile{
            display: block;            
            ul{
                padding: 1rem 0;
                display: block;                            
                li{
                    font-size: 1.4rem; 
                    margin-bottom: 1rem;                             
                    a{ 
                        background-color: var(--bg-black-three-color);                        
                        padding: 1.2rem 2rem;
                        display: block;                        
                    }
                }
            }
        }
    }
    .active{
        display: block;
    }

}