@use 'mixins';

section{
    min-height: 100vh;    
    padding: 9rem;
    width: 100%;    
    
    @include mixins.mq1400{  
        padding:5rem ;
    }
    @include mixins.mq1200{  
        padding:3rem ;
    }
    @include mixins.mq820{
        padding:2.5rem ; 
    }    
    @include mixins.mq500{  
        padding:1.5rem ;
    }
}

/*************ABOUT ME*/


#about-me{  
    background-color: var(--bg-black-three);
    p{
        margin-bottom: 2rem;
        @include mixins.mq500{  
            font-size: 1rem;
        }        
        &:nth-child(2){
            margin-bottom: 1rem; 
            @include mixins.mq500{  
                font-size: 1.2rem;
            }         
        }
    }
    .grid-skills{
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        gap: 1rem;
        .box-skill{
            background-color: var(--bg-black-two);
            .box-icon-skill{
                padding: 1rem;
                svg{
                    height: 5rem;
                    width: 100%;
                    path{
                        fill: white;
                    }
                }
            }
        }
    }
}

/*************PORTFOLIO*/
#portfolio{
    .grid-portfolio{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        width: 100%;
        gap: 1.2rem;
        figure{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            min-height: .5rem;
            img{
                grid-column: 1/2;
                grid-row: 1/2;
                height: 100%;
                object-fit: cover;
            }
            figcaption {
                background-color: rgba(0, 0, 0, 0.581);
                grid-column: 1/2;
                grid-row: 1/2;
                z-index: 1;   
                @include mixins.flexCenter;
                flex-direction: column;
                padding: 5rem;
                @include mixins.mq820{
                    padding: 3rem;   
                }
                @include mixins.mq500{
                    padding:1rem;
                    p{
                        font-size:1rem;
                    }
                }
            }
        }
        img{
            width: 100%;
        }
        
    }
}

/*********************CONTACTO***/
#contact{
    background-color: var(--bg-black-one);
    .grid-contact{              
        .box-contact{
            background-color: var(--bg-black-one);
            display: flex;
            padding: 2rem;
            @include mixins.mq1200{
                padding: 1rem;
            } 
            @include mixins.mq820{
                display: block;
                background-color: var(--bg-black-two);
                margin-bottom: 1rem;
            }
            
            .logo-info-contact{   
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 1.8rem; 
                @include mixins.mq1200{
                    padding-right: 1; 
                }  
                @include mixins.mq820{
                    margin-bottom: 1.5rem;
                }                  
                svg{                
                    height: 100%;
                    path{
                        fill: var(--bg-black-four);
                    }
                }
            }
            .txt-info-contact{
                @include mixins.mq820{
                    margin-top: 1rem;
                } 
                h4{
                    margin: 0;
                    @include mixins.mq820{
                        margin: 0 auto;
                        color: var(--white);
                    }
                }                
                @include mixins.flexCenter;
                p{
                    font-size: 2rem; 
                        
                    @include mixins.mq1200{
                        font-size:1.5rem ;
                    }             
                    @include mixins.mq1024{
                        display: none;
                    }             
                }
                   
            }
            &:hover{
                transition: .5s ease;
                background-color: var(--secondary-color);
                svg{
                    path{
                    transition: .5s ease;
                    fill: var(--white);
                    }
                }
                .txt-info-contact{
                    h4{
                        color:var(--white);
                    }
                }
            }
        }
    }
}

