//COLORS

$colors: (
    primary: hsl(205, 100%, 50%),
    secondary: #d6720f,
    white: #ffffff,
    white-one:#E1E1E1,
    black: #000,
    black-one:#181818,
    black-two: #1D1D1D,
    black-three:#292929,
    black-four:#404040
);

:root{
    --primary-color: #{map-get($colors , primary )};    
    --secondary-color: #{map-get($colors , secondary )};    
    --white: #{map-get($colors , white )};  
    --black: #{map-get($colors , black )};  
    --bg-black-one: #{map-get($colors, black-one)}; 
    --bg-black-two: #{map-get($colors, black-two)}; 
    --bg-black-three: #{map-get($colors, black-three)}; 
    --bg-black-four: #{map-get($colors, black-four)}; 
     
}

