//COLORS

/*DARK MODE DEFAULT*/
$colors: (
    primary: #0095ff,
    secondary: #d6720f,
    white: #ffffff,
    gray:#9c9c9c,
    black: #000,
    black-one:#181818,
    black-two: #1D1D1D,
    black-three:#292929,
    black-four:#404040
);

:root{
    @each $key, $value in $colors{
        --#{bg-+$key}-color:#{$value};
    }     
}

