:root {
  --primary-color: hsl(205deg, 100%, 50%);
  --secondary-color: #d6720f;
  --white: #ffffff;
  --black: #000;
  --bg-black-one: #181818;
  --bg-black-two: #1D1D1D;
  --bg-black-three: #292929;
  --bg-black-four: #404040;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--white);
  height: 100vh;
  background-color: var(--bg-black-two);
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-black-one);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0.2rem;
}

img {
  filter: grayscale(1);
}

/***************Headlings*/
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

h1 {
  font-size: 4.5rem;
}
@media screen and (max-width: 950px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem 0;
}

h4 {
  font-size: 2rem;
  margin: 1rem 0;
}

/***************Text*/
p {
  line-height: 2rem;
  font-size: 1.4rem;
}

/***************Links*/
a {
  text-decoration: none;
  color: var(--white);
}

/**************Nav*/
nav ul {
  list-style: none;
}

/***********FA*/
i {
  padding-right: 1rem;
}

/***********/
p::selection {
  background: var(--secondary-color);
}

/************Caja contenedor */
.light-dark {
  color: var(--black-four);
  font-weight: 100;
  display: flex;
  align-items: center;
  gap: 20px;
}
.light-dark .switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  margin: 0 10px;
}
.light-dark .switch input {
  display: none;
}
.light-dark input:checked + .slider {
  background-color: rgb(170, 0, 0);
}
.light-dark input:checked + .slider::before {
  transform: translateX(1.5rem);
}
.light-dark .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  transition: 0.4s;
  border-radius: 34px;
}
.light-dark .slider:before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  left: 0.2rem;
  bottom: 0.3rem;
  background-color: var(--secondary-color);
  transition: 0.4s;
  border-radius: 50px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);
  height: 100vh;
  align-items: center;
}
@media screen and (max-width: 375px) {
  header {
    padding: 0 1rem;
  }
}
header .cont-profile-header {
  display: flex;
  gap: 1.5rem;
}
@media screen and (max-width: 1400px) {
  header .cont-profile-header {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 800px) {
  header .cont-profile-header {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  header .cont-profile-header {
    padding: 0;
  }
}
header .cont-profile-header .profile-photo {
  width: 25rem;
}
@media screen and (max-width: 600px) {
  header .cont-profile-header .profile-photo {
    width: 20rem;
  }
}
header .cont-profile-header .profile-photo img {
  width: 100%;
}
header .cont-profile-header .profile-text-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .cont-profile-header .profile-text-header p {
  font-size: 1.5rem;
  font-weight: 200;
}
header .cont-profile-header .profile-text-header p::first-line {
  font-weight: 800;
  font-size: 1.8rem;
}
header .navbar-header {
  position: relative;
}
header .navbar-header ul {
  padding: 1rem 0;
  display: flex;
}
header .navbar-header ul li {
  font-size: 1.4rem;
}
header .navbar-header ul li a {
  padding: 1.2rem 2rem;
  display: block;
}
header .navbar-header ul li a:hover {
  background-color: var(--secondary-color);
}

main {
  display: grid;
  grid-template-columns: 29rem 1fr;
}
@media screen and (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
  }
}

.aside {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-black-one);
}
.aside .aside-container {
  top: 0;
  position: sticky;
  height: 100vh;
  padding: 4rem 0;
}
.aside .aside-container .profile-photo {
  width: 100%;
}
.aside .aside-container .profile-photo img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  filter: grayscale(1);
}
.aside .aside-container .txt-study {
  font-weight: 100;
}
.aside .aside-container .txt-study::first-line {
  font-weight: 700;
}
.aside .aside-container .navbar-aside {
  margin: 1.3rem 0;
  width: 100%;
  position: relative;
}
.aside .aside-container .navbar-aside::after, .aside .aside-container .navbar-aside::before {
  content: "";
  height: 0.2rem;
  width: 100%;
  background-color: var(--bg-black-three);
  position: absolute;
}
.aside .aside-container .navbar-aside ul {
  padding: 1rem 0;
}
.aside .aside-container .navbar-aside ul li {
  font-size: 1.4rem;
}
.aside .aside-container .navbar-aside ul li a {
  padding: 0.8rem 0.5rem;
  display: block;
}
.aside .aside-container .navbar-aside ul li a:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 800px) {
  .aside {
    display: none;
  }
}
section {
  min-height: 100vh;
  padding: 9rem;
  width: 100%;
}
@media screen and (max-width: 1400px) {
  section {
    padding: 3rem;
  }
}

/*************ABOUT ME*/
#about-me {
  background-color: var(--bg-black-three);
}
#about-me p:nth-child(2) {
  margin-bottom: 1rem;
}
#about-me .cont-habilities {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5rem;
}
#about-me .cont-habilities .logo-hability {
  height: 6.2rem;
  position: relative;
  display: flex;
  justify-content: center;
}
#about-me .cont-habilities .logo-hability svg {
  width: 100%;
  height: 100%;
}
#about-me .cont-habilities .logo-hability svg path {
  fill: var(--bg-black-four);
}
#about-me .cont-habilities .logo-hability:hover path {
  transition: 0.5s;
  fill: var(--white);
}
#about-me .cont-habilities .logo-hability:hover .name-hability {
  transition: 0.7s;
  opacity: 1;
}
#about-me .cont-habilities .logo-hability .name-hability {
  bottom: -6rem;
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  background-color: var(--bg-black-one);
  border-radius: 0.3rem;
  opacity: 0;
}

/*************PORTFOLIO*/
#portfolio .grid-portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
#portfolio .grid-portfolio figure {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 1rem;
}
#portfolio .grid-portfolio figure img {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
  object-fit: cover;
}
#portfolio .grid-portfolio figure figcaption {
  background-color: rgba(0, 0, 0, 0.581);
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}
@media screen and (max-width: 800px) {
  #portfolio .grid-portfolio figure figcaption p {
    font-size: 1rem;
  }
}
#portfolio .grid-portfolio img {
  width: 100%;
}

/*********************CONTACTO***/
#contact {
  background-color: var(--bg-black-one);
}
#contact .grid-contact .box-contact {
  background-color: var(--bg-black-one);
  display: flex;
  padding: 2rem;
}
#contact .grid-contact .box-contact .logo-info-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.8rem;
}
#contact .grid-contact .box-contact .logo-info-contact svg {
  height: 100%;
}
#contact .grid-contact .box-contact .logo-info-contact svg path {
  fill: var(--bg-black-four);
}
#contact .grid-contact .box-contact .txt-info-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact .grid-contact .box-contact .txt-info-contact h4 {
  margin: 0;
}
#contact .grid-contact .box-contact .txt-info-contact p {
  font-size: 2rem;
}
#contact .grid-contact .box-contact:hover {
  transition: 0.5s ease;
  background-color: var(--secondary-color);
}
#contact .grid-contact .box-contact:hover svg path {
  transition: 0.5s ease;
  fill: var(--white);
}
#contact .grid-contact .box-contact:hover .txt-info-contact h4 {
  color: var(--white);
}

/*# sourceMappingURL=style.css.map */
