:root {
  --primary-color: #0094FF;
  --secondary-color: #d6720f;
  --white: #ffffff;
  --black: #000;
  --bg-black-one: #181818;
  --bg-black-two: #1D1D1D;
  --bg-black-three: #292929;
  --bg-black-four: #404040;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--white);
  height: 100vh;
  background-color: var(--bg-black-two);
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-black-one);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0.2rem;
}

img {
  width: 400px;
  height: 450px;
  object-fit: cover;
  filter: grayscale(1);
}

/***************Headlings*/
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}

h4 {
  font-size: 2rem;
  margin: 2rem 0;
}

/***************Text*/
p {
  line-height: 2rem;
  font-size: 1.4rem;
}

/***************Links*/
a {
  text-decoration: none;
  color: var(--white);
}

/**************Nav*/
nav ul {
  list-style: none;
}

header {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .cont-profile-header {
  display: flex;
  gap: 1.5rem;
}
header .cont-profile-header .profile-text-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .cont-profile-header .profile-text-header p {
  font-size: 1.5rem;
}
header .navbar-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 3rem;
}
header .navbar-header ul {
  display: flex;
  gap: 0.5rem;
  font-size: 1.3rem;
}
header .navbar-header ul li {
  list-style: none;
}
header .navbar-header ul li:hover {
  color: red;
  transition: 0.8s;
}
header .navbar-header ul li a {
  padding: 2.2rem 3rem;
}
header .navbar-header ul li a:hover {
  background-color: var(--bg-black-one);
  color: var(--secondary-color);
  transition: 0.3s;
}

main {
  display: grid;
  grid-template-columns: 29rem 1fr;
}

.aside {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-black-one);
}
.aside .aside-container {
  top: 0;
  position: sticky;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}
.aside .aside-container .profile-photo img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  filter: grayscale(1);
}
.aside .aside-container .line-aside {
  height: 0.2rem;
  width: 100%;
  background-color: var(--bg-black-three);
  margin: 2rem 0;
}

section {
  min-height: 100vh;
}

#about-me, #contact {
  background-color: var(--bg-black-three);
}

.section-main {
  padding: 9rem;
}
.section-main .cont-habilities {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5rem;
}
.section-main .cont-habilities .logo-hability {
  height: 6.2rem;
}

/*# sourceMappingURL=style.css.map */
